/* 
    Created on : Aug 29, 2020, 6:07:56 PM
*/
h1{
    text-align: center;
    font-size: 3.5vw;
    margin-top: 0;
    /*border-bottom: solid black;*/
}
#disclosureNotice>p {
    font-size: 1vw;
    text-align: center;
    color: rgb(100,100,100);
    margin-top:-2vw;
}
form {
    border: solid black;
    border-width: 1px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 1vw;
}
.formContent {
    font-size: 1.2vw;
}
#fName, #mName, #lName {
    margin-right: 2vw;
}
#name {
    text-align: center;
}
#name input {
    width: 12vw;
}